@import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}